<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=51.222.50.29\MSSQLSERVER2022;Initial Catalog=MarketWeb;user=KMPERU2022;password=Pkm0370**" providerName="System.Data.SqlClient" />
    <add name="MarketWebEntities" connectionString="metadata=res://*/Models.ModelMarket.csdl|res://*/Models.ModelMarket.ssdl|res://*/Models.ModelMarket.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=51.222.50.29\MSSQLSERVER2022;initial catalog=MarketWeb;persist security info=True;user id=KMPERU2022;password=Pkm0370**;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MarketWebEntitiesAdmin" connectionString="metadata=res://*/Areas.Administracion.Models.ModelAdmin.csdl|res://*/Areas.Administracion.Models.ModelAdmin.ssdl|res://*/Areas.Administracion.Models.ModelAdmin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=51.222.50.29\MSSQLSERVER2022;initial catalog=MarketWeb;user id=KMPERU2022;password=Pkm0370**;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="DefaultConnection" connectionString="Data Source=45.77.158.250;Initial Catalog=MarketWebCorina;user=KMPERU2024;password=Pkm0370**" providerName="System.Data.SqlClient" />
    <add name="MarketWebEntities" connectionString="metadata=res://*/Models.ModelMarket.csdl|res://*/Models.ModelMarket.ssdl|res://*/Models.ModelMarket.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=45.77.158.250;initial catalog=MarketWebCorina;persist security info=True;user id=KMPERU2024;password=Pkm0370**;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MarketWebEntitiesAdmin" connectionString="metadata=res://*/Areas.Administracion.Models.ModelAdmin.csdl|res://*/Areas.Administracion.Models.ModelAdmin.ssdl|res://*/Areas.Administracion.Models.ModelAdmin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=45.77.158.250;initial catalog=MarketWebCorina;user id=KMPERU2024;password=Pkm0370**;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="DefaultConnection" connectionString="Data Source=ALFREDO\SQLEXPRESS;Initial Catalog=MarketWeb;user=sa;password=Sa2000" providerName="System.Data.SqlClient" />
    <add name="MarketWebEntities" connectionString="metadata=res://*/Models.ModelMarket.csdl|res://*/Models.ModelMarket.ssdl|res://*/Models.ModelMarket.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALFREDO\SQLEXPRESS;initial catalog=MarketWeb;persist security info=True;user id=sa;password=Sa2000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MarketWebEntitiesAdmin" connectionString="metadata=res://*/Areas.Administracion.Models.ModelAdmin.csdl|res://*/Areas.Administracion.Models.ModelAdmin.ssdl|res://*/Areas.Administracion.Models.ModelAdmin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALFREDO\SQLEXPRESS;initial catalog=MarketWeb;user id=sa;password=Sa2000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AdminUser" value="master@market.com" />
    <add key="AdminPassword" value="CARLOS" />
	<!-- Aquí agregas la URL del servicio -->
	<add key="TipoCambioApiUrl" value="https://api.apis.net.pe/v1/tipo-cambio-sunat" />
  </appSettings>


	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>

	
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.
    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BillServicePortBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="BillServicePortBinding1">
          <httpsTransport />
          <textMessageEncoding messageVersion="Soap12" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://e-beta.sunat.gob.pe/ol-ti-itcpfegem-beta/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding" contract="ServiceSunat.billService" name="BillServicePort">
        <headers>
          <Security>
            <UsernameToken>
              <Password>MODDATOS</Password>
              <Username>10096164144MODDATOS</Username>
            </UsernameToken>
          </Security>
        </headers>
      </endpoint>
      <!--<endpoint 
        address="https://e-beta.sunat.gob.pe:443/ol-ti-itemision-guia-gem-beta/billService" 
        binding="basicHttpBinding" 
        bindingConfiguration="BillServicePortBinding" 
        contract="ServiceGuia.billService" 
        name="BillServicePort2">
        <headers>
          <Security>
            <UsernameToken>
              <Password>MODDATOS</Password>
              <Username>10096164144MODDATOS</Username>
            </UsernameToken>
          </Security>
        </headers>
      </endpoint>-->
    </client>
  </system.serviceModel>
  <system.web>
    <trust level="Full" />
    <globalization culture="es-PE" uiCulture="es-PE" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>