@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="jumbotron">
            <h2>COMPRAS</h2>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="jumbotron">
            <h2>VENTAS</h2>
            @Html.ActionLink(" ", "Create", "Ventas",null, new { @class = "btn btn-primary glyphicon glyphicon-blackboard" })
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="jumbotron">
            <h2>INVENTARIOS</h2>
            @Html.ActionLink(" ", "Index", "Kardexes", new { @area = "Inventario" }, new { @class = "btn btn-primary glyphicon glyphicon-blackboard" })
        </div>
    </div>
</div>


