/*table.dataTable td {
    font-size: 1em;
}

table.dataTable tr.dtrg-level-0 td {
    font-size: 1.1em;
}*/

table.dataTable tbody tr.selected {
    color: white !important;
    background-color: #eeeeee !important;
}


.tblhead {
    border: 1px solid white;
    border-collapse: collapse;
}
